:root {
    --heading-color: #222;
    /* dark gray */
}

h1 {
    color: var(--heading-color);
    font-size: 1.5rem;
}
#home-main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}


main #hero {
    position: relative;
    grid-column: 1 / 2;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;

    
}

#hero img, #hero picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
   
}

#cta-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--primary-color);
    padding: 1.5rem 2rem;
    border-radius: 8px;
    z-index: 10;
}

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


.card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
}

#spotlights {
    
    display: grid;
    gap: 1rem;
}


#cta-box h1 {
    color: var(--primary-color);
}