@media only screen and (min-width: 1000px) {

    /* ---------------------------------------------------- */
    /* STYLES FOR THE HOME PAGE (e.g., in main.css) */
    /* ---------------------------------------------------- */
    #home-main {
        grid-template-columns: 2fr 1fr 1fr;
    }

    #hero {
        grid-column: 1 / 4;
    }

    #events {
        grid-column: 1 / 2;
    }

    #weather {
        grid-column: 2 / 3;
    }

    #spotlights {
        grid-column: 1 / 3;
        grid-template-columns: 1fr 1fr 1fr;
    }


    #discover-main {
        max-width: 1400px;
        margin: 0 auto;
    }

    #poi-gallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "area1 area2 area3"
            "area4 area5 area5"
            "area6 area7 area8";
        gap: 2rem;
    }
}

