@media only screen and (min-width: 600px) {
    #home-main {
       
        grid-template-columns: 1fr 1fr;
    }

    #hero {
        
        grid-column: 1 / 3;
    }

    #events {
        grid-column: 1 / 2;
        
    }

    #weather {
        grid-column: 2 / 3;
      
    }

    #spotlights {
        grid-column: 1 / 3;
        grid-template-columns: 1fr 1fr;
    }

   
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .header-content {
        width: auto;
    }

    #menu-toggle {
        display: none;
    }

    .navigation {
        display: block;
        width: auto;
    }

    .navigation ul {
        display: flex;
    }

    .navigation li a {
        border-top: none;
        padding: 0.75rem 1rem;
    }

    
    .footer-grid {
        grid-template-columns: 1fr auto 1fr;
        text-align: left;
        align-items: center;
    }

    .social-links {
        order: 2;
        justify-content: center;
    }

    .developer-info {
        order: 3;
        text-align: right;
    }
}