/* Media query applied only when screen width is 32rem (512px) or larger */
@media screen and (min-width: 32rem) {

   
    #menu-button {
        display: none;
        
    }

    .nav a main-nav {
        color: #e8f5e9;
    }

    #main-nav ul {
        display: flex !important;
        flex-direction: row;
       

    }

    #main-nav li a {
        padding: 0.5rem 1rem;
    }

    
    .main-content-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        padding: 1rem 2rem;
    }

    
    .courses {
        grid-column: 1 / span 2;
    }

    
    .course-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 15px;
    }

   
    .course-card.completed {
       
        border-left: 5px solid forestgreen;
        background-color: #e8f5e9;
    }

    
    main h1,
    main section {
        padding-left: 0;
        padding-right: 0;
    }
}



@media screen and (min-width: 32rem) {

    .site-logo {
        width: 60px;
        height: auto;
    }

    
    header {
        padding: 1.5rem 2rem;
    }

    .logo-area {
        
        align-items: center;
    }
}



@media screen and (min-width: 32rem) {

   
    .social-links img {
        width: 45px;
       
    }


}