

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    text-align: center;
}
#main-nav.open ul {
    display: flex;
}


#main-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
   
}


#main-nav ul li a:visited {
    color: white;
}


#main-nav ul li a:hover {
    color: #cbd5e1;
}

main {
    padding: 1rem;
}

.main-content-grid {
    display: block;
}


.course-card {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    padding: 1rem;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

footer .social-links a {
    text-decoration: none;
}


.site-logo {
    display: block;
    width: 40px;
    height: auto;
    margin-right: 10px;
  
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}



.logo-area {
    display: flex;
    align-items: center;
    gap: 5px;
   
}

.social-links img {
    
    width: 35px;
    height: auto;
    margin: 0 10px;
}

.social-links {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}